.caixa{
    background-color: rgb(238, 106, 150);
}

.titulo{
    color: white !important;
    font-Weight: bold !important;
}
.botao{
    border-color: blueviolet !important ;
    color:white;
    background-color: white !important;
}
.postagens{
    background-color: rgb(240, 168, 206);
}